@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
     }
}

@keyframes fadeInAnimationOpaque {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.header{
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    margin: none;
    color:#4D657C;
    animation: fadeInAnimationOpaque ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.display-wrapper{
    width: 55%;
    background: black;
    opacity: .6;
    margin: auto;
    border-radius: 5px;
    height: fit-content;
    padding-bottom: 20px;
    display: inline-block;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.business-wrapper{
    width: 90%;
    background: white;
    opacity: 1;
    border-radius: 5px;
    margin: auto;
    color: black;
    overflow: hidden;
    margin-top: 29px;
    margin-bottom: 13px;
}

.business-name{
    color: black;
    font-size: 40px;
    margin: 10px;
}

.feature-label{
    color: black;
    margin: 5px;
    display: inline-block;
}

.feature{
    color: black;
    margin: 5px;
    display: inline-block;
}

.choice-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    margin: 10px;
    z-index: 3;
}

.icon-img{
    width: 100%;
    height: auto;
    border-radius: 50px;
    z-index:1;
}

.no-button{
    float:left;
    margin-left: 60px;
}

.yes-button{
    float:right;
    margin-right: 60px;
}